.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.patient-info-container {
  display: flex;
  align-items: center;
  width: 45%;
  height: 310px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.patient-information {
  flex: 1;
}

.symptoms-form-container {
  width: 45%;
  background-color: #fff;
  height: 310px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.symptoms-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.symptoms-form label {
  width: 30%;
  margin-bottom: 10px;
  color: black;
  font-size: 1.2rem;
  margin-right: 10px;
}

.symptoms-form select {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}
.symptoms-form button:hover {
  background-color: #005ae6;
}

.map-container-dashboard {
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctor-container {
  width: 100%;
  height: 400px;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
